.selection {
	display: flex;
	justify-content: center;	
	vertical-align: middle;
}

.selectChoice {
	display: flex;
	flex-direction: column;
	justify-content: column;
	padding: 10px;
	vertical-align: middle;
}

.scoreTracking {
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

.scoreTally {
	padding: 50px;
}

.reset {
	margin: auto;
	text-align: center;
}

p {
	text-align: center;
	padding: 10px;
}

.RPSButton {
	margin: 5px;
}