.selection {
	display: flex;
	justify-content: center;	
}

.selectChoice {
	display: flex;
	flex-direction: column;
	justify-content: column;
	padding: 10px;
}

.reset {
	margin: auto;
	text-align: center;
}

p {
	text-align: center;
	padding: 10px;
}